html {
    background-color:  rgb(236, 236, 236);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
/* header */
.fixed-bar {
    height: 70px;
    font-size: 2em;
}
.page-title {
    background-color: #521751;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    color: white;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
}
/* nav */
.navigation {
    text-align: center;
    padding: 0;
}
.navigation li {
    display: inline-block;
    width: 20%;
    background-color: rgb(177, 177, 174);
    width: 70px;
    font-size: 0.9rem;
}
/* main */
.trip-text {
    display: none;
}

.trip-images {
    display: flex;
    flex-wrap: wrap;
}
.trip-images img {
    width: 100%;
    height: 100%;
} 
.feedback {
    position: relative;
    background-color: #521751;
    color: white;
    bottom: 18.4px;
    text-align: center;
    margin: 0;
    font-size: 16px;
    font-size: 1rem;
}
/* footer */
.review-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-wrap: wrap;
    background-color: white;
    margin: 10px;
    font-size: 16px;
    font-size: 1rem;
}
.review-clients img {
    width: 15%;
}
.review-clients p {
    widows: 350px;
    text-align: center;
}

@media (min-width: 400px){
    .navigation li {
        font-size: 1.2rem;
    }
}

@media (min-width: 700px){
    .trip-images img {
        width: 50%;
    } 

    .trip-text {
        background-color: #fa923f;
        padding: 0;
        display: flex;
    }
    
    .trip-text p {
        background-color: #521751;
        color: white;
        margin: 0;
        text-align: center;
        width: 50%;
        border: 1px solid red;
        font-size: 16px;
        font-size: 1rem;
    }
}